@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --color-white: #ffffff;

  /* Gray Scale */
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-500: #6b7280;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;

  /* Blue Scale */
  --color-blue-200: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  
  /* Custom Dark Theme Colors */
  --color-dark-bg: #101214;
  --color-dark-secondary: #1d1f21;
  --color-dark-tertiary: #3b3d40;
  --color-blue-primary: #0275ff;
  --color-stroke-dark: #2d3135;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 0.875rem;
}